<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <style>
        .h2, h2 {
            font-size: 2rem;
            background-color: rgba(0,0,0,.075);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="calendario">Mi Calendario</a>
    <a class="navbar-brand" href="guardarropas">Mis Guardarropas</a>
    <a class="navbar-brand" href="eventos">Mis Eventos</a>
</nav>
    <h1>
        {{ nombreGuardarropa }}
    </h1>


    <h2>
        Prendas Superiores
    </h2>
    <div class="card-columns" >
        {{#each prendasSuperiores}}
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <img src="/remera.png"  class="rounded-sm" alt="left">
                <div class="card-body">
                    <h5 class="card-title">{{nombrePrenda}}</h5>
                    <p class="card-text">{{nombreMaterial}}</p>
                </div>
            </div>
        {{/each}}
    </div>

    <h2>
        Prendas Inferiores
    </h2>
    <div class="card-columns">
        {{#each prendasInferiores}}
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <img src="/remera.png"  class="rounded-sm" alt="left">
            <div class="card-body">
                <h5 class="card-title">{{nombrePrenda}}</h5>
                <p class="card-text">{{nombreMaterial}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    <h2>
        Calzados
    </h2>
    <div class="card-columns">
        {{#each calzados}}
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <img src="/remera.png"  class="rounded-sm" alt="left">
            <div class="card-body">
                <h5 class="card-title">{{nombrePrenda}}</h5>
                <p class="card-text">{{nombreMaterial}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    <h2>
        Accesorios
    </h2>
    <div class="card-columns">
        {{#each accesorios}}
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <img src="/remera.png"  class="rounded-sm" alt="left">
            <div class="card-body">
                <h5 class="card-title">{{nombrePrenda}}</h5>
                <p class="card-text">{{nombreMaterial}}</p>
            </div>
        </div>
        {{/each}}
    </div>

</body>
</html>